<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="xheader-css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </div>

</head>

<body>
<div th:fragment="xheader">
<div class="w3-top">
    <div class="w3-bar w3-light-grey w3-card" id="myNavbar">
        <a href="/" class="w3-bar-item w3-button w3-wide">UKIT</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <a href="/students" onclick="w3_close()" class="w3-bar-item w3-button">All List</a>
            <a href="/students/add" onclick="w3_close()" class="w3-bar-item w3-button">New Register</a>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
</div>
</body>
</html>